<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
</head>
<body>
    <nav class="nav-wrapper">
        <span class="material-icons google-drive">add_to_drive</span>
        <ul class="right">
            <li><a href="" class="ref drive"> Drive </a></li>
            <li><a href="" class="ref logout"> Logout </a></li>
        </ul>
    </nav>

    <div class="container center-align">
        <div  class="z-depth-3 y-depth-3 x-depth-3 grey green-text lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px; margin-top: 100px; solid #EEE;">
            <br/>
            <br/>
            <br/>

            <div class="center-align grey-text">
                <p class="flow-text"> <span class="fa fa-lock"></span> &nbsp; Sign up with Google </p>
            </div>

            <div class="section"></div>
            <div class="section"></div>
            <div class="fit_image_square">
                <img src="googleLogo.png">
            </div>

            <br/>
            <br/>
            <br/>

            <div></div>

            <div class="row center-align">
                <a href="<%=url%>" class="btn-large waves-effect waves-light">
                    <span class="fa fa-google-plus"></span>
                    Google
                </a>
            </div>


            <div class='row center-align'>

            </div>
            <br>
            <br>
            <div class="text-muted left">
                    © 2021 Jayagoda N.M.
            </div>

            <br/>
            <br/>

        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>